* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'PT Sans', sans-serif;
}

@media (min-width: 1201px) {
  html {
    font-size: 1rem;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 0.7rem;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 0.6rem;
  }
}
